#journal-articles {
    background-color: #f8f9fa;
    padding: 100px 0;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card-text {
    height: 50px;
    overflow: hidden;
  }

  .img-mem{
    max-width: 270px;
    height: auto;
  }
